<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Bootstrap CSS link (you may need to adjust the version) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<!-- Вставка навбару -->
<div th:include="~{/components/navbar}"></div>

<div class="container mt-5">
    <!-- Тут решта вашого коду -->
    <h1>Welcome to the Home Page1111, <span th:text="${username}"></span>!</h1>
    <h1>Welcome to the Home Page, <span th:text="${sessionId}"></span>!</h1>
    <!-- Add your additional content here -->
</div>
</body>
</html>
